.tickets {
	&-layout {
		position: relative;
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 16px;
		& > span {
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding-bottom: 16px;
		}
	}
	&-ticketList {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
	&-sidebar {
		position: sticky;
		top: 80px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}