.tickets {
	&-layout {
		position: relative;
		display: flex;
		gap: 16px;
		padding-bottom: 16px;
		& > span {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 100%;
			backdrop-filter: blur(10px);
			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				background-color: var(--black);
				backdrop-filter: blur(10px);
				opacity: 0.7;
			}
		}
		& > span:nth-child(2) {
			position: sticky;
			top: 80px;
			z-index: 100;
		}
	}
	&-ticketList {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
}

@media (max-width: 1135px) {
	.tickets-layout {
		flex-direction: column-reverse;
		gap: 0;
		& > span:nth-child(2) {
			padding-bottom: 16px;
		}
	}
}
