.tickets {
	&-layout {
		position: relative;
		display: flex;
		gap: 16px;
		padding-bottom: 16px;
		& > span {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 100%;
		}
		& > span:nth-child(2) {
			position: sticky;
			top: 80px;
			z-index: 100;
		}
	}
	&-ticketList {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
}

.sidebarTicketsGrid {
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: sticky;
	top: 80px;
}

.drawerContainer {
	padding: 16px;
	background-color: transparent;
}

.MuiBackdrop-root {
	background-color: rgba($color: #0b0a12, $alpha: 0.5) !important;
}
.MuiDrawer-paperAnchorBottom {
	background-color: transparent !important;
}

@media (max-width: 1167px) {
	.tickets-ticketList {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 751px) {
	.tickets-layout {
		padding-bottom: 80px;
		& > span:nth-child(2) {
			display: none;
		}
	}
	.bottomBar {
		display: flex;
	}
}
