.rules {
	display: flex;
	flex-direction: column;
	position: relative;
	height: calc(100vh - 80px - 16px);
	background-color: var(--dark);
	border-radius: 12px;
	margin-bottom: 16px;
	&-header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 24px 0;
	}
	&-title {
		font-size: 20px;
		line-height: 24px;
		color: var(--white);
		text-transform: uppercase;
		user-select: none;
	}
	&-main {
		height: 100%;
	}
}

@media (max-width: 967px) {
	.rules {
		height: auto;
	}
}
