.header-nav {
	&.mobile {
		display: none;
		background-color: var(--dark);
		border-radius: 12px;
		padding: 24px;
		ul {
			flex-direction: column;
			gap: 24px;
		}
	}
	ul {
		display: flex;
		gap: 16px;
		list-style: none;
	}
	li {
		cursor: pointer;
	}
}

@media (max-width: 751px) {
	.header-nav {
		&.desktop {
			display: none;
		}
		&.mobile {
			display: block;
		}
	}
}
