.slider {
	height: 100%;
	&-root {
		padding-bottom: 56px !important;
		width: calc(100% - 64px - 64px);
		height: 100%;
	}
	&-wrapper {
		align-items: center;
	}
	&-slide {
		height: auto !important;
	}
	&-navigationButton {
		position: absolute;
		z-index: 100;
		display: flex;
		height: auto;
		padding: 8px 4px;
		cursor: pointer;
	}
	&-prevButton {
		left: 16px;
		top: 50%;
		transform: translateY(-50%);
	}
	&-nextButton {
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
	}
	&-bulletButton {
		width: 8px;
		height: 8px;
		background-color: var(--shadow);
		border-radius: 100%;
		cursor: pointer;
	}
	&-bulletActiveButton {
		background-color: var(--pink);
	}
	&-pagination {
		position: absolute;
		left: 50% !important;
		bottom: 24px !important;
		transform: translateX(-50%) !important;
		display: flex;
		gap: 8px;
		width: auto !important;
		height: auto;
	}
}

@media (max-width: 967px) {
	.swiper-horizontal {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0 !important;
	}
}