.frequentlyNums-swich {
	display: flex;
	flex-direction: column;
	gap: 16px;
	& > span {
		display: flex;
		flex-direction: column;
	}
	p {
		font-size: 14px;
		line-height: 16px;
		color: var(--white);
		user-select: none;
	}
}
