.archive {
	&-grid {
		position: relative;
		display: grid;
		grid-template-columns: 752px 1fr;
		grid-template-rows: 192px calc(100% - 192px - 16px);
		gap: 16px;
		height: calc(100vh - 80px - 16px);
	}
}



