.edition {
	&-content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		& > span {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
	}
	&-empty {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;
		height: 160px;
		svg {
			fill: var(--gray);
		}
		p {
			font-size: 14px;
			line-height: 16px;
			color: var(--gray);
			text-transform: uppercase;
			user-select: none;
		}
	}
}
