.sidebarControls {
	&-content {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&-buttons {
		display: flex;
		gap: 16px;
		button {
			width: 100%;
		}
	}
}

.sidebarTicketsGrid {
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: sticky;
	top: 80px;
	&-right {
		display: flex;
		flex-direction: column;
		gap: 16px;
		& > div {
			display: none;
		}
	}
}

@media (max-width: 1135px) {
	.sidebarTicketsGrid {
		flex-direction: row;
		&-left {
			width: 100%;
			padding: 16px !important;
			gap: 16px !important;
			& > p {
				display: none;
			}
			.descriptionRow {
				display: none;
			}
		}
		&-right {
			width: 100%;
			& > div {
				display: flex;
			}
		}
	}
	.sidebarControls {
		&-buttons {
			button:nth-child(2) {
				display: none;
			}
		}
	}
}
