.ticket {
	position: relative;
	width: 368px;
	overflow: hidden;
	&-head {
		position: relative;
		display: flex;
		height: 64px;
		&::after {
			content: '';
			position: absolute;
			left: -2px;
			top: 46px;
			z-index: 1;
			transform: translateX(-50%);
			width: 36px;
			height: 36px;
			background-color: var(--dark);
			border-radius: 100%;
			transition: all 0.2s ease-in-out;
		}
		&::before {
			content: '';
			position: absolute;
			right: -2px;
			top: 46px;
			z-index: 1;
			transform: translateX(50%);
			width: 36px;
			height: 36px;
			background-color: var(--dark);
			border-radius: 100%;
			transition: all 0.2s ease-in-out;
		}
	}
	&-main {
		height: 512px;
	}
	& > span {
		display: flex;
		flex-direction: column;
		background-color: var(--dark);
		border: 2px solid transparent;
		border-radius: 12px;
		transition: all 0.2s ease-in-out;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 50px;
			z-index: 3;
			transform: translateX(-50%);
			width: 32px;
			height: 32px;
			background-color: var(--black);
			border-radius: 100%;
			transition: all 0.2s ease-in-out;
		}
		&::before {
			content: '';
			position: absolute;
			right: 0;
			top: 50px;
			z-index: 3;
			transform: translateX(50%);
			width: 32px;
			height: 32px;
			background-color: var(--black);
			border-radius: 100%;
			transition: all 0.2s ease-in-out;
		}
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 65px;
		z-index: 2;
		width: 100%;
		height: 2px;
		background-color: var(--shadow);
		mask-image: linear-gradient(
			90deg,
			transparent 4px,
			transparent 0px,
			black 0px,
			black 0px
		);
		mask-repeat: repeat;
		mask-size: 14px;
	}
	&:hover {
		& > span {
			border: 2px solid var(--shadow);
		}
		.ticket-head {
			&::after {
				background-color: var(--shadow);
			}
			&::before {
				background-color: var(--shadow);
			}
		}
	}
	&.action {
		& > span {
			border: 2px solid var(--pink);
		}
		&::after {
			background-color: var(--pink);
		}
		.ticket-head {
			&::after {
				background-color: var(--pink);
			}
			&::before {
				background-color: var(--pink);
			}
		}
	}
}
