.ticket {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 368px;
	height: 590px;
	background-color: var(--dark);
	border-radius: 12px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 48px;
		z-index: 3;
		transform: translateX(-50%);
		width: 36px;
		height: 36px;
		background-color: var(--black);
		border: 2px solid var(--dark);
		border-radius: 100%;
		transition: all 0.2s ease-in-out;
	}
	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 48px;
		z-index: 3;
		transform: translateX(50%);
		width: 36px;
		height: 36px;
		background-color: var(--black);
		border: 2px solid var(--dark);
		border-radius: 100%;
		transition: all 0.2s ease-in-out;
	}
	& > span {
		border: 2px solid var(--dark);
		border-radius: 12px;
		transition: all 0.2s ease-in-out;
	}
	&-head {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 66px;
		border-bottom: 2px dashed var(--shadow);
		transition: all 0.2s ease-in-out;
	}
	&-title {
		font-size: 14px;
		line-height: 16px;
		color: var(--white);
		text-transform: uppercase;
		user-select: none;
	}
	&-cross {
		display: flex;
		position: absolute;
		top: 50%;
		right: 24px;
		transform: translateY(-50%);
		opacity: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		svg {
			stroke: var(--shadow);
			transition: all 0.2s ease-in-out;
		}
		&:hover {
			svg {
				stroke: var(--white);
			}
		}
	}
	&:hover {
		& > span {
			border: 2px solid var(--shadow);
		}
		&::after {
			border: 2px solid var(--shadow);
		}
		&::before {
			border: 2px solid var(--shadow);
		}
		.ticket-cross {
			opacity: 1;
		}
	}
	&.action {
		& > span {
			border: 2px solid var(--pink);
		}
		&::after {
			border: 2px solid var(--pink);
		}
		&::before {
			border: 2px solid var(--pink);
		}
		.ticket-head {
			border-bottom: 2px dashed var(--pink);
		}
	}
	&.disabled {
		button {
			pointer-events: none;
		}
		&:hover {
			.ticket-cross {
				opacity: 0;
			}
		}
	}
	&.winner {
		background: var(--gradient);
	}
	&-main {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 24px 16px 16px 16px;
	}
	&-rule {
		display: flex;
		flex-direction: column;
		font-size: 14px;
		line-height: 16px;
		color: var(--white);
		user-select: none;
	}
	&-buttons {
		display: flex;
		gap: 16px;
		button {
			width: 100%;
		}
	}
}
