.archive-table {
	display: grid;
	width: 100%;
	height: 100%;
	overflow: scroll;
	thead {
		position: sticky;
		top: 64px;
		padding: 16px;
		background-color: var(--dark);
		border-radius: 12px;
		tr {
			align-items: center;
			text-transform: uppercase;
		}
	}
	tbody {
		overflow: scroll;
		padding: 0px 16px 16px 16px;
		tr {
			cursor: pointer;
			&:hover {
				background-color: var(--shadow);
			}
		}
	}
	tr {
		display: grid;
		grid-template-columns: 80px 160px 384px;
		justify-content: space-between;
		padding: 8px;
		border-radius: 8px;
		font-size: 14px;
		line-height: 16px;
		color: var(--white);
		user-select: none;
		text-align: left;
		transition: all 0.2s ease-in-out;
	}
	td {
		display: flex;
		align-items: center;
	}
	ul {
		display: flex;
		gap: 12px;
	}
	li {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 100%;
		&.first {
			border: 2px dashed var(--gray);
		}
		&.second {
			border: 2px dashed var(--pink);
		}
		&.action {
			background-color: var(--shadow);
		}
	}
	&-root {
		padding: 0;
	}
	&-content {
		height: 100%;
	}
}

@media (max-width: 1167px) {
	.archive-table {
		overflow: unset;
		thead {
			top: 80px;
		}
	}
}

@media (max-width: 751px) {
	.archive-table {
		thead {
			top: 64px;
		}
	}
}

@media (max-width: 740px) {
	.archive-table {
		tr {
			grid-template-columns: 80px 120px 384px;
		}
	}
}
@media (max-width: 680px) {
	.archive-table {
		tr {
			grid-template-columns: 80px 120px 1fr;
		}
		ul {
			flex-wrap: wrap;
		}
	}
}
